.icon-container {
    display:flex;
    align-items: center;
    margin-right: 10px;
  
}

.welcome-container {
    display: inline-flex;
}
.welcome {
    margin: 0;
    display: flex;
    align-items: center;
}
